.register,
.register * {
  box-sizing: border-box;
}
.register {
  height: 1239px;
  position: relative;
}
.milad-fakurian-m-6-hs-8-s-ah-9-l-8-unsplash-2 {
  width: 100%;
  height: 96.85%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 3.15%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.register-form {
  background: var(--white, #ffffff);
  border-radius: 10px;
  width: 55.56%;
  height: 72.64%;
  position: absolute;
  right: 22.15%;
  left: 22.29%;
  bottom: 12.11%;
  top: 15.25%;
}
.rectangle-7 {
  background: #212121;
  width: 100%;
  height: 6.38%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 93.62%;
  top: 0%;
}
.type-61 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Black", sans-serif;
  font-size: 61px;
  line-height: 120%;
  font-weight: 900;
  position: absolute;
  right: 29.72%;
  left: 29.65%;
  width: 40.62%;
  bottom: 65.13%;
  top: 28.97%;
  height: 5.89%;
}
.google-logo-2 {
  width: 3.47%;
  height: 4.04%;
  position: absolute;
  right: 42.5%;
  left: 54.03%;
  bottom: 17.35%;
  top: 78.61%;
  object-fit: cover;
}
.rectangle-15 {
  background: var(--black, #303030);
  border-radius: 5px;
  width: 4.17%;
  height: 4.84%;
  position: absolute;
  right: 42.15%;
  left: 53.68%;
  bottom: 16.95%;
  top: 78.21%;
}
.linkedin-2 {
  width: 3.68%;
  height: 4.28%;
  position: absolute;
  right: 48.26%;
  left: 48.06%;
  bottom: 17.19%;
  top: 78.53%;
  object-fit: cover;
}
.rectangle-14 {
  background: var(--black, #303030);
  border-radius: 5px;
  width: 4.17%;
  height: 4.84%;
  position: absolute;
  right: 48.06%;
  left: 47.78%;
  bottom: 16.95%;
  top: 78.21%;
}
.type-16 {
  color: #000000;
  text-align: center;
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 38.12%;
  left: 38.12%;
  width: 23.75%;
  bottom: 23.49%;
  top: 74.74%;
  height: 1.78%;
}
.type-162 {
  text-align: center;
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  right: 42.85%;
  left: 42.08%;
  width: 15.07%;
  bottom: 34.95%;
  top: 63.52%;
  height: 1.53%;
}
.type-162-span {
  color: #000000;
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}
.type-162-span2 {
  color: var(--grey-dark, #424242);
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}
.line-6 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 43.96%;
  height: 0%;
  position: absolute;
  right: 27.99%;
  left: 28.06%;
  bottom: 26.88%;
  top: 73.12%;
}
.line-7 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 38.19%;
  height: 0%;
  position: absolute;
  right: 31.04%;
  left: 30.76%;
  bottom: 65.13%;
  top: 34.87%;
}
.facebook-logo-2-2 {
  width: 3.47%;
  height: 4.04%;
  position: absolute;
  right: 54.31%;
  left: 42.22%;
  bottom: 17.35%;
  top: 78.61%;
  object-fit: cover;
}
.rectangle-13 {
  background: var(--black, #303030);
  border-radius: 5px;
  width: 4.17%;
  height: 4.84%;
  position: absolute;
  right: 53.96%;
  left: 41.88%;
  bottom: 16.95%;
  top: 78.21%;
}
.facebook-logo-2-22 {
  width: 3.47%;
  height: 4.04%;
  position: absolute;
  right: 54.31%;
  left: 42.22%;
  bottom: 17.27%;
  top: 78.69%;
  object-fit: cover;
}
.linkedin-22 {
  width: 3.47%;
  height: 4.04%;
  position: absolute;
  right: 48.47%;
  left: 48.06%;
  bottom: 17.43%;
  top: 78.53%;
  object-fit: cover;
}
.logo-2 {
  border-radius: 210.5px;
  width: 9.03%;
  height: 10.49%;
  position: absolute;
  right: 45.49%;
  left: 45.49%;
  bottom: 71.99%;
  top: 17.51%;
  object-fit: cover;
}
.label-active {
  width: 33.82%;
  height: 3.95%;
  position: absolute;
  right: 33.06%;
  left: 33.12%;
  bottom: 58.35%;
  top: 37.69%;
}
.label-active2 {
  background: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.soy-un-campo-de-texto {
  color: var(--grey-dark, #424242);
  text-align: left;
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 11.35%;
  left: 7.09%;
  width: 81.56%;
  bottom: 24.49%;
  top: 24.49%;
  height: 51.02%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.label-active3 {
  width: 33.82%;
  height: 3.95%;
  position: absolute;
  right: 33.06%;
  left: 33.12%;
  bottom: 46.09%;
  top: 49.96%;
}
.label-active4 {
  width: 33.82%;
  height: 3.95%;
  position: absolute;
  right: 33.06%;
  left: 33.12%;
  bottom: 39.95%;
  top: 56.09%;
}
.label-active5 {
  width: 33.82%;
  height: 3.95%;
  position: absolute;
  right: 33.06%;
  left: 33.12%;
  bottom: 52.22%;
  top: 43.83%;
}
.btn-sm-primary-active {
  width: 12.17%;
  height: 4.52%;
  position: absolute;
  right: 44.28%;
  left: 43.54%;
  bottom: 28.65%;
  top: 66.83%;
}
.rectangle-6 {
  background: var(--black, #303030);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.button {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: "SourceSansPro-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  right: 9.88%;
  left: 10.27%;
  width: 79.86%;
  bottom: 33.93%;
  top: 33.93%;
  height: 32.14%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail {
  width: 2.99%;
  height: 3.47%;
  position: absolute;
  right: 67.57%;
  left: 29.44%;
  bottom: 58.6%;
  top: 37.93%;
  overflow: visible;
}
.lock {
  width: 2.99%;
  height: 3.47%;
  position: absolute;
  right: 67.5%;
  left: 29.51%;
  bottom: 46.65%;
  top: 49.88%;
  object-fit: cover;
}
.group-2 {
  position: absolute;
  inset: 0;
}
.asterisk {
  width: 0.83%;
  height: 0.97%;
  position: absolute;
  right: 67.1%;
  left: 32.07%;
  bottom: 42.62%;
  top: 56.42%;
  overflow: visible;
}
.lock2 {
  width: 2.99%;
  height: 3.47%;
  position: absolute;
  right: 67.29%;
  left: 29.72%;
  bottom: 40.11%;
  top: 56.42%;
  object-fit: cover;
}
.mail-obl {
  width: 3.26%;
  height: 3.92%;
  position: absolute;
  right: 67.29%;
  left: 29.44%;
  bottom: 52.42%;
  top: 43.66%;
  overflow: visible;
}
