.component,
.component * {
  box-sizing: border-box;
}
.component {
  background: #ffffff;
  height: 743px;
  position: relative;
}
.label-active {
  width: 500px;
  height: 50px;
  position: absolute;
  left: 230px;
  top: 238px;
}
.label-active2 {
  background: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 0.5px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.soy-un-campo-de-texto {
  color: var(--grey-dark, #424242);
  text-align: left;
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 11.35%;
  left: 7.09%;
  width: 81.56%;
  bottom: 24.49%;
  top: 24.49%;
  height: 51.02%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.label-active3 {
  width: 500px;
  height: 50px;
  position: absolute;
  left: 230px;
  top: 339px;
}
.rectangle-9 {
  background: var(--black, #303030);
  border-radius: 10px 0px 0px 10px;
  width: 113px;
  height: 743px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.btn-sm-primary-active {
  width: 175.31px;
  height: 56px;
  position: absolute;
  left: 392px;
  top: 422px;
}
.rectangle-6 {
  background: var(--black, #303030);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.iniciar-sesi-n {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: "SourceSansPro-SemiBold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  right: 9.88%;
  left: 10.27%;
  width: 79.86%;
  bottom: 33.93%;
  top: 33.93%;
  height: 32.14%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-5 {
  margin-top: -1px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 633px;
  height: 0px;
  position: absolute;
  left: 165px;
  top: 542px;
}
.type-61 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Black", sans-serif;
  font-size: 61px;
  line-height: 120%;
  font-weight: 900;
  position: absolute;
  left: 274px;
  top: 152px;
}
.type-16 {
  color: #000000;
  text-align: center;
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 330px;
  top: 566px;
}
.rectangle-10 {
  background: var(--black, #303030);
  border-radius: 5px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 365px;
  top: 609px;
}
.rectangle-11 {
  background: var(--black, #303030);
  border-radius: 5px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 450px;
  top: 609px;
}
.rectangle-12 {
  background: var(--black, #303030);
  border-radius: 5px;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 535px;
  top: 609px;
}
.facebook-logo-2-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 370px;
  top: 614px;
  object-fit: cover;
}
.linkedin-1 {
  width: 53px;
  height: 53px;
  position: absolute;
  left: 454px;
  top: 613px;
  object-fit: cover;
}
.google-logo-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 540px;
  top: 614px;
  object-fit: cover;
}
.lock {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 165px;
  top: 338px;
  object-fit: cover;
}
.mail {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 169px;
  top: 238px;
  overflow: visible;
}
.type-162 {
  text-align: center;
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  position: absolute;
  left: 356px;
  top: 511px;
}
.type-162-span {
  color: #000000;
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}
.type-162-span2 {
  color: var(--grey-dark, #424242);
  font-family: "HindMadurai-Regular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
}
.logo-3 {
  border-radius: 210.5px;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 420px;
  top: 19px;
  object-fit: cover;
}
